<div id="<%= dom_id watchlist %>">
  <p>
    <strong>User:</strong>
    <%= watchlist.user_id %>
  </p>

  <p>
    <strong>Watchlist type:</strong>
    <%= watchlist.watchlist_type %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= watchlist.rating %>
  </p>

  <p>
    <strong>Watchable:</strong>
    <%= watchlist.watchable_id %>
  </p>

</div>
